--- 
layout: default 
make-smaller-titles: true 
---


<div class="container-fluid index">
    <div class="row">

        <div class="col-md-12 main content-panel">

            <div class="gravatar">
                <img src="{{ site.title_image }}" class="img-circle about-image" height="150" width="150" alt="{{ site.title }}" />
            </div>

            <h1 class="header author-header" itemprop="headline">{{ site.title }}</h1>

            <div class="author-text">
                {{ site.title_description }}
            </div>

            {% include social_links.html %}
        </div>
        <div class="col-md-12 main content-panel">

            <div class="articles">

                <h2>最新文章</h2>

                <ul>
                    {% for post in site.posts limit: site.post_limit %}

                    <li>
                        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                        <small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small>
                    </li>

                    {% endfor %}
                    <li>
                        <small><i><a href="{{ site.baseurl }}/posts/">更多...</a></i></small>
                    </li>
                </ul>

            </div>

        </div>

    </div>
</div>
<script data-ad-client="ca-pub-6917081171236631" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<script>
    //   if ('serviceWorker' in navigator) {
    //     console.log("Will the service worker register?");
    //     navigator.serviceWorker.register('service-worker.js')
    //       .then(function(reg){
    //         console.log("Yes, it did.");
    //       }).catch(function(err) {
    //         console.log("No it didn't. This happened: ", err)
    //       });
    //   }

    // 註冊 service worker
    if (navigator.serviceWorker) {
        navigator.serviceWorker.register('service-worker.js')
		console.log('註冊 service worker');
    }

</script>
