{% if site.author.github %}
<div class="github-card">
    <p class="asidetitle">{{ lang.github-card }}</p>
    <!-- <div class="github-card" data-github="{{ site.author.github }}" data-width="220" data-height="119"
        data-theme="medium">
        <script type="text/javascript" src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
    </div> -->
    <div class="github-card" data-user="{{ site.author.github }}" data-theme="medium"></div>
    <script src="//lab.lepture.com/github-cards/widget.js"></script>
</div>
{% endif %}