<!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "{{site.google_ad_client}}",
        enable_page_level_ads: true
    });
</script> -->
<div>
    <p class="asidetitle">{{ lang.google_adsense }}</p>
    <div width="220" height="120">
        <script data-ad-client="{{site.google_ad_client}}" async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    </div>
</div>